.navbar-personalizado {
  background-color: #1f2937 !important; /* gris oscuro facherito */
}

.navbar-personalizado .nav-link {
  color: white !important;
}

.navbar-personalizado .navbar-brand {
  color: #facc15 !important; /* amarillo suave */
}
