.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw; /* fuerza 100% del viewport */
  background-color: #fffdfd; /* color fondo */
  color: #000;
  padding: 1rem 2rem; /* un poco más de espacio lateral */
  box-sizing: border-box; /* incluye el padding en el ancho total */
}

/* Lista dentro de la navbar */
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem; /* separación uniforme entre elementos */
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Ítems */
.navbar li {
  margin: 0; /* evitamos margen extra */
}

/* Links */
.navbar a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover {
  text-decoration: underline;
}

/* Clase active */
.navbar .active {
  font-weight: bold;
}
