.item-detail-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  gap: 30px;
  border: 1px solid #ddd;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

.item-detail-img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid #eee;
}

.item-detail-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.item-detail-title {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.item-detail-price {
  font-size: 22px;
  color: #444;
  font-weight: 500;
}

.item-detail-button {
  margin-top: 15px;
  padding: 12px 20px;
  border: none;
  background: #111;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s ease;
}

.item-detail-button:hover {
  background: #333;
  transform: scale(1.03);
}

.item-detail-contador {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.item-detail-contador button {
  width: 35px;
  height: 35px;
  border-radius: 8px;
  border: none;
  background: #1f2937; /* gris oscuro elegante */
  color: white;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease;
}

.item-detail-contador button:hover {
  background: #111827;
  transform: translateY(-2px);
}

.item-detail-contador span {
  font-size: 20px;
  font-weight: bold;
  min-width: 32px;
  text-align: center;
  color: #111;
}
