/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía base */
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #000;
}
